aiosqlite==0.17.0
alabaster==0.7.12
apertium-quality==0.3
appdirs==1.4.4
apsw==3.36.0.post1
attrs==21.2.0
autobahn==21.11.1
Automat==20.2.0
Babel==2.8.0
backcall==0.2.0
base58==1.0.3
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
blinker==1.4
blosc==1.9.2
bottle==0.12.19
Bottleneck==1.3.2
breezy==3.2.1
Brlapi==0.8.3
Brotli==1.0.9
cairocffi==1.2.0
CairoSVG==2.5.2
cbor==1.0.0
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
Cheetah3==3.2.6
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.4
configobj==5.0.6
constantly==15.1.0
coverage==6.2
crypto==1.4.1
cryptography==3.4.8
cssselect2==0.4.1
cycler==0.11.0
Cython==0.29.28
dask==2022.1.0+dfsg
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.13
devscripts===2.22.1ubuntu1
distlib==0.3.4
distributed==2022.1.0+ds.1
distro==1.7.0
distro-info===1.1build1
docker==5.0.3
docutils==0.17.1
drawSvg==1.8.1
dropbox==11.26.0
dulwich==0.20.31
ecdsa==0.18.0b1
emoji==2.2.0
et-xmlfile==1.0.1
fastbencode==0.0.5
fastimport==0.9.14
filelock==3.6.0
flatbuffers===1.12.1-git20200711.33e2d80-dfsg1-0.6
fonttools==4.29.1
frozendict==1.2
fs==2.4.12
fsspec==2022.1.0
fusepy==3.0.1
future==0.18.2
gast==0.5.2
GDAL==3.4.1
Glances==3.2.4.2
gpg===1.16.0-unknown
greenlet==1.1.2
HeapDict==1.0.1
html5lib==1.1
httplib2==0.20.2
hyperlink==21.0.0
idna==3.3
imageio==2.4.1
imagesize==1.3.0
importlib-metadata==4.6.4
incremental==21.3.0
influxdb==5.3.1
iniconfig==1.1.1
iotop==0.6
ipython==7.31.1
ipython_genutils==0.2.0
jdcal==1.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.3
joblib==0.17.0
jsonschema==3.2.0
jupyter-core==4.9.1
kamene==0.32
keyring==23.5.0
kiwisolver==1.3.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
ldap3==2.8.1
libarchive-c==2.9
libhfst_swig==3.16.0b0
llvmlite==0.38.0
locket==0.2.1
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
Mako==1.1.3
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
meld==3.20.4
mercurial==6.1.1
mnemonic==0.19
more-itertools==8.10.0
mpi4py==3.1.3
mpmath==0.0.0
msgpack==1.0.3
mwtools==0.7
Naked==0.1.31
nbformat==5.1.3
netifaces==0.11.0
networkx==2.4
nltk==3.7
nose==1.3.7
numba==0.55.1
numexpr==2.8.1
numpy==1.21.5
oauthlib==3.2.0
odfpy==1.4.2
olefile==0.46
onboard==1.4.1
openpyxl==3.0.9
OWSLib==0.25.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
paramiko==2.9.3
parso==0.8.1
partd==1.2.0
passlib==1.7.4
patiencediff==0.2.1
patsy==0.5.2
pbr==5.8.0
pdfminer.six===-VERSION-
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.1
plotly==5.4.0
pluggy==0.13.0
ply==3.11
prompt-toolkit==3.0.28
protobuf==3.12.4
pssh==2.3.4
psutil==5.9.0
psycopg2==2.9.2
ptyprocess==0.7.0
py==1.10.0
py-ubjson==0.16.1
Py3ODE==1.2.0.dev15
pyao==1.2
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.20.1
pycparser==2.20
pycryptodomex==3.11.0
pycurl==7.44.1
pygame==2.1.2
pygit2==1.6.1
PyGithub==1.55
Pygments==2.11.2
PyGObject==3.42.1
pygraphviz==1.7
PyHamcrest==2.0.2
PyJWT==2.3.0
pymad==0.10
PyNaCl==1.5.0
PyOpenGL==3.1.5
pyOpenSSL==21.0.0
pyparsing==2.4.7
pypng==0.0.20
pyproj==3.3.0
PyQRCode==1.2.1
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyrsistent==0.18.1
PySimpleSOAP==1.16.2
pysmi==0.3.2
pysnmp==4.4.12
pystache==0.6.0
pytest==6.2.5
python-apt==2.3.0+ubuntu2.1
python-dateutil==2.8.1
python-debian===0.1.43ubuntu1
python-debianbts==3.2.0
python-gitlab==2.10.1
python-magic==0.4.24
python-snappy==0.5.3
python-xapp==2.2.1
pythondialog==3.5.1
pythran==0.10.0
PyTrie==0.4.0
pytz==2022.1
PyWavelets==1.1.1
PyX==0.15
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.3.0
QScintilla==2.11.6
regex==2021.11.10
reportbug===11.4.1ubuntu1
requests==2.25.1
requests-futures==1.0.0
requests-toolbelt==0.9.1
roman==3.3
scikit-image==0.18.3
scikit-learn==0.23.2
scipy==1.8.0
scour==0.38.2
screen-resolution-extra==0.0.0
seaborn==0.11.2
SecretStorage==3.3.1
service-identity==18.1.0
setproctitle==1.2.2
shellescape==3.8.1
simplejson==3.17.6
six==1.16.0
snowballstemmer==2.2.0
sortedcontainers==2.1.0
soundconverter==4.0.3
soupsieve==2.3.1
Sphinx==4.3.2
SQLAlchemy==1.4.31
ssh-import-id==5.11
stevedore==3.5.0
stone==3.3.1
sympy==1.9
systemd-python==234
tables==3.7.0
tblib==1.7.0
tenacity==6.3.1
threadpoolctl==3.1.0
tifffile==2022.2.9
tinycss2==1.1.0
tkSnack==2.2.10
toml==0.10.2
toolz==0.11.2
tornado==6.1
tqdm==4.57.0
traitlets==5.1.1
trash-cli==0.17.1.14
Twisted==22.1.0
txaio==21.2.1
typing-extensions==3.10.0.2
u-msgpack-python==2.3.0
ubuntu-advantage-tools==27.11.2
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ujson==5.1.0
unattended-upgrades==0.1
unicodedata2==14.0.0
unidiff==0.5.5
urllib3==1.26.5
variety==0.8.5
vboxapi==1.0
virtualenv==20.13.0+ds
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.4
wadllib==1.3.6
waitress==1.4.4
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
wrapt==1.13.3
wsaccel==0.6.3
wxPython==4.0.7
xdg==5
xdiagnose==3.8.10
xdot==1.2
xkit==0.0.0
xlwt==1.3.0
zict==2.0.0
zipp==1.0.0
zope.interface==5.4.0
